<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Dialga</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./">Pokemon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./arceus">Arceus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./dialga">Dialga</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./palkia">Palkia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./giratina">Giratina</a>
              </li>
          </ul>
        </div>
      </nav>
      <div class="container">
       <img class="rounded mx-auto d-block mb-4 mt-5 img-fluid" src="https://i.imacdn.com/ta/2016/06/483dialga-dp-anime-5-14655344698792.jpg" >
        <div class="content">
            <p>1. Là pokemon huyền thoại mang song hệ Thép/Rồng và được giới thiệu ở thế hệ 4 tại vùng đất Shinnoh. <br>
                Nó được biết đến là không được tiến hóa từ bất kỳ pokemon nào, và không thể tiến hóa. <br>
                Cùng với Palkia và Giratina, nó là thành viên của bộ ba sáng tạo Sinnoh, là pokemon đại diện cho thời gian.
            </p>
            <p>
                Dialga là một Pokémon màu xanh đậm với một số phần kim loại màu xám, chẳng hạn như tấm giáp của nó, có một viên kim cương ở giữa. Nó cũng có các sọc màu xanh nhạt khác nhau. Nó có cấu trúc giống như vây trên lưng và mào trên đầu, giống như một con khủng long. Dialga cũng có hai cái sừng trên đỉnh đầu, hai cái sừng giống như răng nanh quanh miệng và ba cái gai sau gáy. Nó có ba móng trên mỗi chân có hình kim loại giống như tấm giáp của nó. Các vết nứt mờ tồn tại trên cơ thể của nó. Cấu trúc giống như cánh trên lưng của nó có thể được sử dụng để tập trung dòng chảy thời gian
            </p>
            <p>Dialga có thể làm cong thời gian bằng cách tăng tốc, giảm tốc độ hoặc dừng hoàn toàn. Người ta nói khi Dialga bắt đầu tiếng thở đầu tiên thì dòng thời gian bắt đầu chảy. Do Dialga chủ yếu cư trú ở một chiều không gian khác, nên hành vi của nó gần như không thể nghiên cứu. Nó đã được chứng minh là rất bảo vệ không gian riêng của nó. Nó cũng có xu hướng có xung đột bạo lực với đối tác của mình, Palkia. Dialga là Pokémon duy nhất được biết có thể học và sử dụng tuyệt chiêu Roar of Time ( Tiếng gầm của thời gian ).</p>
            <img class="rounded mx-auto d-block mb-4 mt-5 img-fluid" src="https://em.wattpad.com/cd3cc4ab312880872014a752472bca488614c3c1/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f784f5956374f61357569694f6f513d3d2d3137362e313537663861643063623365373664383332313632333936343335302e6a7067?s=fit&w=720&h=720"/>
            <p>3. Bị khắc chế bởi các hệ : Rồng</p>
            <p>4. Ability:  <br>● Pressure: Khi Pokémon được nhắm mục tiêu bởi động thái của kẻ thù, một PP bổ sung sẽ bị trừ khi thực hiện. Nếu Pokémon ở vị trí đầu tiên trong nhóm (ngay cả khi bị ngất), cơ hội gặp Pokémon hoang dã cấp độ cao tăng 50% (do đó, 25% cơ hội sẽ trở thành 75%) . </p>
            <p>● Telepathy: Tránh được các chiêu thức gây sát thương được sử dụng bởi các đồng minh của nó. Điều này bao gồm các cuộc tấn công với nhiều mục tiêu (như Discharge), cũng như các cuộc tấn công dành riêng cho một đồng minh với Thần giao cách cảm (như Thunderbolt). Tuy nhiên, nó không được bảo vệ khỏi các động thái trạng thái của đồng minh (như Teeter Dance hoặc Confuse Ray)</p>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>