<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flag</title>
</head>
<body>
    <img src="https://cdn.shopify.com/s/files/1/0843/2781/products/Surprised-Pikachu-lapel-pin-cute-Pokemon-badge-kids-friends-gift-pop-cartoon-anime-decor_large.jpg" >
    <h2 style="color: red;">WOW !!! Flag của bạn đây</h2>
    <h4>ISPCLUB{1t_1s_n0t_345y!!!}</h4>
</body>
</html>