<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Giratina</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./">Pokemon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./arceus">Arceus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./dialga">Dialga</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./palkia">Palkia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./giratina">Giratina</a>
              </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <img class="rounded mx-auto d-block mb-4 mt-5 img-fluid" src="https://em.wattpad.com/d545e7ad062b1d565f5bc87aee591311eb29da8b/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f737653666e744454506c71484a413d3d2d3130302e3135373838326231393132633631626334393038323738333238332e6a7067?s=fit&w=720&h=720">
        <div class="content">
            <p>
                1. Là pokemon huyền thoại mang song hệ Ma/Rồng và được giới thiệu ở thế hệ 4 tại vùng đất Shinnoh. <br>
                Nó được biết đến là không được tiến hóa từ bất kỳ pokemon nào, và không thể tiến hóa. Nó có một dạng thứ hai được kích hoạt bằng cách cho Giratina nắm giữ Griseous Orb hoặc khi nó ở trong nhà của nó,Distortion World. Forme ban đầu của nó, Altered Forme, sau đó sẽ trở thành Origin Forme. <br>
                Cùng với Dialga và Palkia, nó là thành viên của bộ ba sáng tạo Sinnoh, là pokemon đại diện cho phản vật chất.
            </p>
            <p>Giratina là một con Pokemon khổng lồ màu xám với nửa vòng vàng ở sau gáy. Đầu của nó có một vật giống như vương miện vàng bao quanh nó với hai chiếc sừng lớn hướng sang một bên. Một sọc đen dày chạy dọc theo mặt trước của nó với các sọc ngang màu đỏ. Trong Forme thay đổi của nó, nó có hai đôi cánh ma quái màu đen lớn với đầu màu đỏ có thể giống với móng vuốt. Những cánh này có thể thay đổi hình dạng như thể đó là chất lỏng hoặc khí. Sáu chân của nó dày và có móng. <br>
                Giratina có thể đi qua và kiểm soát kích thước bên cạnh thời gian và không gian. Tuy nhiên, khi ở Forme gốc, nó có thể đi qua các kích thước theo ý muốn, tuy nhiên, nó sẽ quay trở lại Forme bị thay đổi do sự thay đổi trọng lực từ Thế giới biến dạng. Giratina là một Pokémon cực kỳ hung dữ và lãnh thổ bảo vệ nhà của nó. Truyền thuyết cho rằng Giratina xuất hiện trong các nghĩa trang và nó được cho là sống ở một thế giới ở mặt trái. Nó được cho là bị trục xuất vì bạo lực. Giratina là Pokémon duy nhất được biết đến có thể học Shadow Force.
            </p>
            <img class="rounded mx-auto d-block mb-4 mt-5 img-fluid" src="https://em.wattpad.com/54d3dde008710d31e035c778d9206a8aea773479/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f46734c66673442755577374b55673d3d2d3137382e313537663864303931353833383238663835333939383935373534392e6a7067?s=fit&w=720&h=720">
            <p>Origin Forme: cao 6,9m nặng 650kg</p>
            <img class="rounded mx-auto d-block mb-4 mt-5 img-fluid" src="https://em.wattpad.com/6d7a2aea14a8f49f64adeaf02e80bb0712ed8564/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f7749334c5157344d734d7a7048513d3d2d3137382e313537663864306133333534343938373135373238373036363839322e6a7067?s=fit&w=720&h=720" >
            <p>Trong Origin Forme, nó mang một vẻ ngoài ngoằn ngoèo, với sáu bộ truyền phát ma đen trên lưng với những chiếc gai màu đỏ ở đầu. Chân của nó được giảm xuống gai và bốn gai vàng bổ sung xuất hiện gần rìa đuôi của nó. Khi ở Origin Forme, ba chiếc nhẫn nửa vàng có thể kẹp chặt đồ vật. Những chiếc sừng trên đầu của nó bây giờ hướng về phía sau, và sọc dọc màu đen bị vỡ thành từng mảnh và chạy dọc xuống cơ thể của nó. </p>
            <p>4. Ability:  <br>
                ● Pressure: Khi Pokémon được nhắm mục tiêu bởi động thái của kẻ thù, một PP bổ sung sẽ bị trừ khi thực hiện. Nếu Pokémon ở vị trí đầu tiên trong nhóm (ngay cả khi bị ngất), cơ hội gặp Pokémon hoang dã cấp độ cao tăng 50% (do đó, 25% cơ hội sẽ trở thành 75%) . </p>
            <p>● Telepathy: Tránh được các chiêu thức gây sát thương được sử dụng bởi các đồng minh của nó. Điều này bao gồm các cuộc tấn công với nhiều mục tiêu (như Discharge), cũng như các cuộc tấn công dành riêng cho một đồng minh với Thần giao cách cảm (như Thunderbolt). Tuy nhiên, nó không được bảo vệ khỏi các động thái trạng thái của đồng minh (như Teeter Dance hoặc Confuse Ray)</p>
            <p>● Origin Forme:  <br>
                - Levites : làm cho Pokémon có Khả năng này miễn nhiễm với các đòn tấn công hệ đất (trừ Ngàn mũi tên của Z). Nó cũng không bị ảnh hưởng bởi các hiệu ứng như  <br>
                Arena Trap, Spikes, Toxic Spikes, Sticky Web, Rototiller, và terrain.</p>
        </div>
        <!-- •−• −−− −••• −−− − ••−−•− •••• •− •••− • ••−−•− •− •−•• •−•• ••−−•− −•−− −−− ••− ••−−•− −• • • −•• -->
      </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>