<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./">Pokemon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./arceus">Arceus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./dialga">Dialga</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./palkia">Palkia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./giratina">Giratina</a>
              </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <img  class="rounded mx-auto d-block mb-4 mt-5 img-fluid"  src="https://d.wattpad.com/story_parts/102/images/157882c382fc09f923860527035.jpg" >
        <div class="content">
            <p>
                1. Là pokemon huyền thoại mang song hệ Nước/Rồng và được giới thiệu ở thế hệ 4 tại vùng đất Shinnoh. <br>
                Nó được biết đến là không được tiến hóa từ bất kỳ pokemon nào, và không thể tiến hóa. <br>
                Cùng với Dialga và Giratina, nó là thành viên của bộ ba sáng tạo Sinnoh, là pokemon đại diện cho không gian
            </p>
            <p>Palkia là một Pokémon màu tím nhạt với các sọc và dấu của một màu tối hơn và nách màu xám và thắt lưng. Nó có những tấm sọc tím tròn trên vùng vai, nơi hai viên ngọc màu hồng được nạm một vành xám bao quanh chúng và vây sau lưng. Cánh tay của Palkia có hình dạng mở rộng giống như găng tay và một dải màu tím quanh mỗi cổ tay. Palkia có cái cổ dài, mào trắng nhọn trên đỉnh đầu kéo dài đến đôi cánh, hai ngà giống như sừng mạnh mẽ ở hai bên hàm và cái đuôi mạnh mẽ. Nó có những vết nứt mờ dọc theo chân và đuôi. Palkia du hành bằng cách tạo ra một quả cầu lớn màu vàng từ hai viên ngọc của nó, sau đó sử dụng nó để bay rất nhanh.</p>
            <p>Palkia có khả năng làm cong không gian, mặc dù nó được cho là cũng tạo ra thực tế thay thế. Khi tiếng tim đập đầu tiên của nó thì không gian bắt đầu mở rộng. Palkia sống ở một chiều không gian khác, khiến hành vi của nó gần như không thể nghiên cứu. Tuy nhiên, Palkia đã được nhìn thấy trong các cuộc xung đột bạo lực với đối tác của mình, Dialga. Nó đã được biết là rất bảo vệ nhà của nó là tốt. Palkia là Pokémon duy nhất được biết đến có thể học Spacial Rend ( Nhát chém không gian - Xé rách không gian ).</p>
            <img class="rounded mx-auto d-block mb-4 mt-5 img-fluid" src="https://em.wattpad.com/2b66b342d0e0d1015907fdb49933707ae0e55cb1/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f6d425f61334d3855327a417443773d3d2d3137372e313537663862623339393565373966343436313539383733323031302e6a7067?s=fit&w=720&h=720">
            <p>3. Bị khắc chế bởi các hệ : Rồng, tiên, băng</p>
            <p>4. Ability:  <br>
                ● Pressure: Khi Pokémon được nhắm mục tiêu bởi động thái của kẻ thù, một PP bổ sung sẽ bị trừ khi thực hiện. Nếu Pokémon ở vị trí đầu tiên trong nhóm (ngay cả khi bị ngất), cơ hội gặp Pokémon hoang dã cấp độ cao tăng 50% (do đó, 25% cơ hội sẽ trở thành 75%) . </p>
            <p>● Telepathy: Tránh được các chiêu thức gây sát thương được sử dụng bởi các đồng minh của nó. Điều này bao gồm các cuộc tấn công với nhiều mục tiêu (như Discharge), cũng như các cuộc tấn công dành riêng cho một đồng minh với Thần giao cách cảm (như Thunderbolt). Tuy nhiên, nó không được bảo vệ khỏi các động thái trạng thái của đồng minh (như Teeter Dance hoặc Confuse Ray)</p>
        </div>
      </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>